<%if current_user && current_user.id == @idea.user_id && @idea.complete.blank?%>
<a href="/ideas/<%= @idea.id%>/complete" type="button" class="btn btn-success postiontopright">Mark as complete</a>
<%elsif @idea.complete == true%>
<div class = "bigger">
<span class="glyphicon glyphicon-ok-sign postiontopright" ></span>
</div>
<%end %>

<h1> <%= @idea.idea_title %></h1>
<p>
  <strong>Details:</strong>
  <%= @idea.details %>
</p>
<p>
  <strong>Created at</strong>
  <%= @idea.created_at %>
  <strong> by</strong>
  <%= @idea.name %>

</p>
<h2>Comments</h2>
<%= render @idea.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
