
<% if session[:user_id] %>
<% if @idea.complete == true%>
  <p> This idea is complete </p>
  <% else %>
    <%= form_with(model: [ @idea, @idea.comments.build ], local: true) do |form| %>


      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "form-control", value: current_user.display_name, readonly: true %>
      </p>
      <p>
        <%= form.label :details %><br>
        <%= form.text_area :details, class: "form-control" %>
      </p>
      <p>
        <%= form.submit %>
      </p>
      <% end %>
    <% end %>

  <% else %>
    <p>
      <strong>Please Log In to add comments </strong>
    </p>
<% end %>
