<h1 class = "title">Amigo Code</h1>
<h3> A Forum of Friendly Faces</h3>
<h4> <%=@ideas.count%> result(s) found.</h4>
<% @ideas.each do |idea| %>
    <div class="Clickables">
      <div class="searchbox">
       <%= link_to idea.idea_title, idea_path(idea)%>
      <br><%= idea.formatted_details %>
       <div class="pull-right"> Created at <%=idea.created_at.strftime("%d/%m/%Y at %I:%M")%> by  <%=idea.name%> </div>
       <% if current_user && current_user.admin == true %>
       <p> <%= link_to 'Remove', idea_path(idea),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> </p>
        <% end %>
      </div>
    </div>
<% end %>
